<a href="https://colab.research.google.com/github/akufanky/learnPython/blob/master/Async_1_FankyAbdilqoyyim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Asyncronous 1 ‚≠ê

##A. Create a python syntax based on the instructions below!

1. Instruction:<br>
Create a variable list_sample in the form of a "list" with 10 elements! Return list_sample!

In [ ]:
list_sample = ["Nam",36,9.8,True,"Samsan",False,'Tech','San',8.7,"Xixixi"]
print('=== Memanggil list secara langsung ===')
print(list_sample)

print('\n=== Memanggil list secara satu per satu sesuai index ===')
for x in list_sample :
  print(x)

=== Memanggil list secara langsung ===
['Nam', 36, 9.8, True, 'Samsan', False, 'Tech', 'San', 8.7, 'Xixixi']

=== Memanggil list secara satu per satu sesuai index ===
Nam
36
9.8
True
Samsan
False
Tech
San
8.7
Xixixi

2. Instruction: <br>
Return the second element from list_sample!

In [ ]:
print(list_sample[1])

36

3. Instruction:<br>
Add a new element in the form of a list with 5 elements in the sixth position! Return list_sample!

In [ ]:
new_list = ["Dal",34,8.5,'Mi',True]
list_sample.insert(5,new_list)
print(list_sample)

['Nam', 36, 9.8, True, 'Samsan', ['Dal', 34, 8.5, 'Mi', True], False, 'Tech', 'San', 8.7, 'Xixixi']

4. Instruction:<br>
Return the 4th element of the list created in instruction number 3!

In [ ]:
print(list_sample[5][3])

Mi

5. Instruction:<br>
Update the 10th element of list_sample with 'Practice'. Return list_sample!

In [ ]:
list_sample[10] = 'Practice'
print(list_sample)

['Nam', 36, 9.8, True, 'Samsan', ['Dal', 34, 8.5, 'Mi', True], False, 'Tech', 'San', 8.7, 'Practice']

6. Instruction:<br>
Return the 10th output element that has been changed!

In [ ]:
print(list_sample[10])

Practice

7. Instruction:<br>
Return the count of one of the elements in list_sample!

In [ ]:
print(list_sample.count(True))

1

8. Instruction:<br>
Return the number of elements in the list_sample!

In [ ]:
print(len(list_sample))

11

9. Instruction:<br>
Remove elements in the form of lists from list_sample! Return list_sample!

In [ ]:
list_sample.remove(new_list)
print(list_sample)

['Nam', 36, 9.8, True, 'Samsan', False, 'Tech', 'San', 8.7, 'Practice']

10. Instruction:<br>
Remove all elements from the list_sample! Return list_sample!

In [ ]:
print(list_sample.clear())
print(list_sample)

None
[]

##B. Make a simple program about mathematical calculations!

###1st Example

In [ ]:

#meminta input dari user
kilometer = float(input("Masukan bilangan yang ingin di konversi: "))

#konversi kilometer ke meter
meter = kilometer * 1000

#menampilkan hasil konversi
print(f"{kilometer} kilometer = {meter} meter")

Masukan bilangan yang ingin di konversi: 5
5.0 kilometer = 5000.0 meter

###2nd Example

In [ ]:
# Menginput Alas dan Tinggi Segitiga
alas = float(input('Tulis Alas Segitiga: '))
tinggi = float(input('Tulis Tinggi Segitiga: '))

# Hitung Luas Segitiga
luas = (alas * tinggi) / 2

#Menampilkan Hasil Perhitungan
print(f'Luas Segitiga tersebut adalah {luas}')

Tulis Alas Segitiga: 9
Tulis Tinggi Segitiga: 12
Luas Segitiga tersebut adalah 54.0

###Your Turn! üî•

In [ ]:
# Program untuk mencari Volume, Luas dan Keliling Bangun ruang bola
# Volume = 4/3 * œÄ * r^3
# Luas = 4œÄ * r^2
# Keliling = 2œÄ * r

phi = 3.14
r = int(input("Masukkan jari - jari bola: "))

v = (4/3) * phi * r ** 3
l = (4 * phi) * r ** 2
k = (2 * phi) * r

print(f"Volume bola = {v} cm3")
print(f"Luas bola = {l} cm2")
print(f"Keliling bola = {k} cm")

Masukkan jari - jari bola: 20
Volume bola = 33493.333333333336 cm3
Luas bola = 5024.0 cm2
Keliling bola = 125.60000000000001 cm